.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
}
.accent {
    color: #2E2F42
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color:#2E2F42;
  text-align: center;
}
/*========COMMON STYLES========*/

/*========HEADER STYLES========*/


