.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
}
.accent {
    color: #2E2F42
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color:#2E2F42;
  text-align: center;
}
/*========COMMON STYLES========*/

/*========HEADER STYLES========*/
.logotype {
    color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: -0.03em;
text-transform: uppercase;
}
.menu-link {
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: -0.02em;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}


